.contact-form{
	display: flex;
	flex-direction: column;
	max-width: 324px;
	padding: 29px 27px 18px;
	box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15);
	background-color: rgba(75, 202, 255, 0.8);
	border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	&__title{
		text-align: center;
		font-family: var(--f-bold);
		font-size: 36px;
		color: #fff;
		margin-bottom: 29px;
		line-height: normal;
	}
	input{
		box-shadow: 0px -1px 0 0 rgba(0, 0, 0, 0.06);
		background-color: #ffffff;
		margin-bottom: 14px;
		border: 1px solid transparent;
		border-radius: 2px;
		padding: 0px 10px;
		height: 34px;
		transition: 0.3s border-color linear;
	}
	textarea{
		height: 145px;
		margin-bottom: 20px;
		border-radius: 2px;
		padding: 13px 10px;
		border: 1px solid transparent;
		transition: 0.2s border-color linear;
	}
	button{
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 4px 0 0 #313032;
		background-color: var(--charcoal-grey);
		height: 45px;
		width: 190px;
		border-radius: 2px;
		margin-left: auto;
		margin-right: auto;
		text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.4);
		font-size: 15px;
		font-family: var(--f-bold);
		color: var(--bluegrey);
		transition: .3s background-color linear;
		&:hover{
			background-color: #414042;
		}
	}
	::-webkit-input-placeholder {
		text-align: center;
		color: #d3d3d3;
	}

	:-moz-placeholder { /* Firefox 18- */
		text-align: center;
		color: #d3d3d3;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		text-align: center;
		color: #d3d3d3;
	}

	:-ms-input-placeholder {
		text-align: center;
		color: #d3d3d3;
	}
	.invalid{
		border-color: red;
	}
}