:root{
	--font-2: 'Droid Sans';
	--f-light: 'Lato-light';
	--f-bold: 'Lato-Bold';

	//color
	--c-coral: #4bcaff;
	--pumpkin-orange: #fd7c00;
	--c-cream: #f9f9f9;
	--charcoal-grey: rgba(65, 64, 66, 0.81);
	--brown-grey: #838383;
	--light-peach: #dad7d7;
	--lichen: #91c46b;
	--very-light-pink: #d7d7d7;
	--pumpkin-orange: #fd7c00;
	--bluegrey: #72b3cc;
}